body {
	background-color: #6F9FD8;
}

.title {
	/*text-align: center;
*/	
	text-align: center;
	font-family: Geneva;
	font-weight: bold;
	color: #313d4b;
}

.github {
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 8px 8px 8px 8px;
	font-family: Geneva;
	color: #313d4b;
}

.Made {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 8px 8px 8px 8px;
	border-radius: 5px;
	font-family: Geneva;
	color: #313d4b;
}

.row {
	width: 30px;
	height: 30px;
}

.column {
	display: inline-block;
}


.left-border {
	border-left: 3px solid black;
}

.bottom-border {
	border-bottom: 3px solid black;
}

.right-border {
	border-right: 3px solid black;
}

.top-border {
	border-top: 3px solid black;
}

/*
.box:first-child {
	border-left: 5px solid black;
}
*/

.change-width {
	width: 50px;
}

.box {
	margin: auto;
	/*width: 37%;*/
	text-align: center;
}
/*
.row:hover {
	background-color: #B4B7BA
}
*/