body {
	background-color: #6F9FD8;
}

.title {
	/*text-align: center;
*/	
	text-align: center;
	font-family: Geneva;
	font-weight: bold;
	color: #313d4b;
}

.github {
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 8px 8px 8px 8px;
	font-family: Geneva;
	color: #313d4b;
}

.Made {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 8px 8px 8px 8px;
	border-radius: 5px;
	font-family: Geneva;
	color: #313d4b;
}

.row {
	width: 30px;
	height: 30px;
}

.column {
	display: inline-block;
}


.left-border {
	border-left: 3px solid black;
}

.bottom-border {
	border-bottom: 3px solid black;

}

.right-border {
	border-right: 3px solid black;
}

.top-border {
	border-top: 3px solid black;
}

.change-width {
	width: 50px;
}

.box {
	margin: auto;
	/*width: 37%;*/
	text-align: center;

}

.footer {
	padding-top: 10px;
	text-align: center;
}

.size-button {
	margin-right: 15px;
	text-align: center;
	height: 40px;
	width: 120px;
	font-size: 90%;
	font-family: Geneva;
	color: #313d4b;
	border-radius: 5px;
	border: 1px solid #363636;
}

.reset-button {
	margin-left: 15px;
	text-align: center;
	height: 40px;
	width: 120px;
	font-size: 90%;
	font-family: Geneva;
	color: #313d4b;
	border-radius: 5px;
	border: 1px solid #363636;
}

.size-button:focus {
	outline: 0;
}

.size-button:hover {
	color: white;
	transition-duration: 0.4s;
	background-color: #313d4b;
}

.reset-button:focus {
	outline: 0;
}

.reset-button:hover {
	color: white;
	transition-duration: 0.4s;
	background-color: #313d4b;
}
